<% content_for :page_header do %>
  <%= page_header @group.name %>
<% end %>

<div id='posts-index'>
  <%= link_to nil, id: 'post-form-toggler', class: 'btn btn-info' do %>
    <i class='icon-angle-up'></i> <%= t '.new_post' %>
  <% end %>

  <hr />

  <div id='initial-post-form-container'>
    <%= render 'authenticated/posts/form' %>
  </div>

  <div id='posts-container'>
    <div class='container' id='posts-header'>
      <div class='span6'> <%= t '.post' %> </div>
      <div class='span2'> <%= t '.available_for_exchanges?' %> </div>
    </div>

    <div id='posts' class='container'>
      <%= render @posts %>
    </div>
  </div>

  <%= render 'authenticated/photos/form_modal' %>
  <%= render 'authenticated/schedules/form_modal' %>

  <div id='post-media-preview-template' class='hidden post-media-preview'>
    <span class='close remove-preview'> <%= t 'common.x' %> </span>
  </div>
</div>

