<!DOCTYPE html>
<html>
<head>
  <title>Vk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body id='<%= controller_name.dasherize %>' data-action='<%= action_name.dasherize %>'>

<div id='wrapper'>
  <%= render 'header'        %>
  <%= render 'notifications' %>

  <div class='container' id='content'>
  <%= yield %>

  <div id='push'></div>
  </div>
</div>

<%= render 'footer' %>
</body>

</html>
